<html>
	<head>
		<link rel="stylesheet" href="css/foundation.css">
		<link rel="stylesheet" href="css/style.css">
		<title>Dean's List</title>
	</head>

	<body>
	<div class="container">
		<div class="header">
			<div class="row">
  				<div class="large-3 columns">
  					<div class="titleWhite">
  						<img src="img/Logo_Deanlist_white.png">
  					</div>
		    	</div>
		    	<div class="large-5 columns">
  						<h1></h1>
  					</div>
  				<div class="large-2 columns">
  					<div class="loginForm">
		    			<input type="text" placeholder="Username" size="100" />
		    			<div class="rememberMe">
  							<input type="checkbox" >  Remember Me<br>
						</div>
		    		</div>	
  				</div>
  				<div class="large-2 columns">
  					<div class="loginForm">
		    			<input type="text" placeholder="Password" />		    			
		    			<div class="headerButton">
  							<a href="#">Log In</a>
  						</div>
		    		</div>	
  				</div>
  			</div>
  		</div>		
		<div class="wrapper">
			<div class="row">
  				<div class="large-12 columns">
  					<img class="quote" src="img/Text_Landing.png"/>
  				</div>
  			</div>	
  			<div class="row">
  				<div class="large-12 columns">
  					<div class="registerButton">
  						<a href="#">Register Now</a>
  					</div>
  				</div>
  			</div>		    		
		</div>
	</div>
	</body>
</html>