<html>
  <head>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Dean's List</title>
  </head>

  <body>
    <div class="headerDashboard">
      <div class="row">
          <div class="large-1 columns">
            <div class="titleWhite">
              <a href="#"><img src="img/Logo_Deanlist_White.png"></a>
            </div>
          </div>
          <div class="large-4 columns">
          <ul>
            <li><a href="#">MAT1348</a>
              <ul>
                <a href="#"><li>Chapter 1</li></a>
                <a href="#"><li>Chapter 2</li></a>
                <a href="#"><li>Chapter 3</li></a>
              </ul>
            </li>
            <li>Courses
              <ul>
                <a href="#"><li>MAT1348</li></a>
              </ul>
            </li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="large-4 columns"><p></p></div>
        <div class="large-2 columns">
          <h5 class="user">Username LastName</h5>
        </div>
        <div class="large-1 columns">
          <p class="user">Log Out</p>
        </div>
        </div>
      </div>    
    <div class="wrapperDashboard">
      <div class="videoContainer">
          <div class="titleVideo">
              <h3>Video Heading</h3>
              <h7> Course Code</h7>
            </div>
              <div class="video">
                <iframe width="500" height="300" src="https://www.youtube.com/embed/UlzuGXG7eNw" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="videoRelevent">
              <div class="text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="link">
                <img src="img/klematis_small.jpg">
                <img src="img/klematis_small.jpg">
                <img src="img/klematis_small.jpg">
              </div>
            </div>
            <div class="date">29 Feb 2015</div>
        </div>
        <div class="postContainer">
          <div class="titleVideo">
              <h3>UserName</h3>
              <h7> Course Code</h7>
            </div>
              <div class="post">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in lacus scelerisque, bibendum mi nec, viverra enim. Curabitur quis erat lorem. Praesent vulputate ornare eros, ac tristique velit vehicula sit amet. Nullam pretium magna volutpat sem cursus, fringilla tincidunt ipsum fermentum. Praesent vitae pulvinar neque. Nam sed libero sed felis porttitor ullamcorper nec ac lectus. Sed facilisis mi sed consectetur rutrum.</p>
            </div>
            
            </div>
        <div class="videoContainer">
          <div class="titleVideo">
              <h3>Video Heading</h3>
              <h7> Course Code</h7>
            </div>
              <div class="video">
                <iframe width="500" height="300" src="https://www.youtube.com/embed/UlzuGXG7eNw" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="videoText">
            <div class="videoRelevent">
              <div class="text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="link">
                <img src="img/klematis_small.jpg">
                <img src="img/klematis_small.jpg">
                <img src="img/klematis_small.jpg">
              </div>
            </div>
            <div class="date">29 Feb 2015</div>
            </div>
        </div>
        </div>              
    </div>
  </body>
</html>