<html>
	<head>
		<link rel="stylesheet" href="css/foundation.css">
		<link rel="stylesheet" href="css/style.css">
		<title>Dean's List</title>
	</head>

	<body>

		<div class="headerDashboard">
			<div class="row">
  				<div class="large-1 columns">
  					<div class="titleWhite">
  						<a href="#"><img src="img/Logo_Deanlist_White.png"></a>
  					</div>
		    	</div>
          <div class="large-3 columns">
          <ul>
            <li><a href="#">Courses</a>
              <ul>
                <a href="mat1348.html"><li>MAT1348</li></a>
              </ul>
            </li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="large-5 columns"><p></p></div>
        <div class="large-2 columns">
          <h5 class="user">Username LastName</h5>
        </div>
        <div class="large-1 columns">
          <p class="user">Log Out</p>
        </div>
        </div>
  		</div>	

     
<div class="wrapperRegisteration">

    <form id="signup">

        <div class="header">
        
            <h3>Sign Up</h3>
            
            <p>Fill out this form to register</p>
            
        </div>
        
        <div class="sep"></div>

        <div class="inputs">
        
            <input type="text" placeholder="First Name" autofocus />
        
            <input type="text" placeholder="Last Name" autofocus />

            <input type="email" placeholder="e-mail" autofocus />
        
            <input type="password" placeholder="Password" />

            <input type="email" placeholder="University" autofocus />
            
            <div class="checkboxy">
                <input name="cecky" id="checky" value="1" type="checkbox" /><label class="terms">I accept the <a href="#">terms of use </a></label>
            </div>
            
            <a id="submit" href="#">SIGN UP</a>
        
        </div>

    </form>

</div>
	</body>
</html>