body {
    background: rgb(227, 242, 242);
}

h1 {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 200;
    text-align: center;
}

body > header {
    background: #87e0fd;
    background: -moz-linear-gradient(top, #87e0fd 0%, #0dbda6 1%, #0a8979 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(1%,#0dbda6), color-stop(100%,#0a8979));
    background: -webkit-linear-gradient(top, #87e0fd 0%,#0dbda6 1%,#0a8979 100%);
    background: -o-linear-gradient(top, #87e0fd 0%,#0dbda6 1%,#0a8979 100%);
    background: -ms-linear-gradient(top, #87e0fd 0%,#0dbda6 1%,#0a8979 100%);
    background: linear-gradient(to bottom, #87e0fd 0%,#0dbda6 1%,#0a8979 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#0a8979',GradientType=0 );
    
    height: 48px;
    font: 16px/40px Arial;
    padding: 4px 16px;
    position: relative;
}

body > header a {
    color: black !important;
    font-weight: 200;
}

body > header img {
    border-right: 1px solid #444;
    height: 40px;
    margin-right: 8px;
    padding-right: 10px;
    width: auto;
}

.feed article {
    background: white;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 10px #999;
    margin: auto;
    margin-bottom: 20px;
    padding: 4px 10px;
    width: 700px;
}

.feed article.related {
    padding-bottom: 10px;
    width: 600px;
}

.feed article.related img {
    margin-bottom: 5px;
}
.feed article.related img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.feed article h1 {
    font-size: 22px;
    margin-bottom: 0px;
    text-align: left;
}

.feed article .coursecode {
    font-size: 16px;
    margin-left: 15px;
}

.feed article span {
    font-size: 13px;
}

.feed article .content {
    font-family: "Open Sans";
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.feed article .comments {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
}

.feed article .comments div {
    margin-bottom: 3px;
}

.feed article .comments input {
    font-size: 12px;
    height: 24px;
}

.feed article .comments .commenter {
    font-weight: bold;
    margin-right: 5px;
}

.feed article iframe {
    height: 300px;
    width: 500px;
}

.coursesDropdown {

}

.right {
    float: right;
}

.modal-form {
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 12px auto;
    padding: 0px 12px 6px 12px;
    width: 30%;
}

input[type="submit"] {
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
}



/**{
	margin: 0px;
	padding: 0px;
}

body{
	width: 100%;
	background-color: #e3f3f2;
}

.container{
	background: url("/assets/landingBg.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

ul {

	height: 15%;
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}
ul li {
  font: none 30px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.user {
	padding-top: 13px;
}

ul li a{
	color: #000;
}

ul li a:hover{
	color: #fff;
}



ul li:hover {
  background: #555;
}
ul li ul {

	margin-top: 5px;
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul a li { 
  background: #555; 
  display: block; 
  color: #fff;
}
ul li ul a li:hover { background: #666; 
color: #000;}
ul li:hover ul  {
  display: block;
  opacity: 1;
  visibility: visible;
}

.headerDashboard{
  	background: linear-gradient(#0dbea7 , #0a8979);
	max-height: 8.7%;
}

.titleVideo{
	margin-left: 10px;
}

.videoContainer{
	padding: 10px 0px;
	width: 800px;
	background-color: #fff;
	margin: 10px auto;
	box-shadow: 5px 5px 5px #888888;
}

.postContainer{
	padding: 10px 0px;
	width: 800px;
	background-color: #fff;
	margin: 10px auto;
	box-shadow: 5px 5px 5px #888888;
}

.postContainer p{
	margin: 0px 10px;
	padding: 0px 10px;
	text-align: justify;
	border: 1px solid rgba(0,0,0,0.5);
}

.videoRelevent{
	width: 62.5%;
	margin-left: 150px;
	text-align: justify;
}

.text{
	max-width:52%;
	float: left;
}

.text p{	
	font-size:12px;
}

.link{
	float: right;
}

.link img{
	max-width:48%;
	height: 10%;	
}

.date{
	text-align: right;
	padding-right: 20px;
	clear: both;
}

.videoContainer iframe{
	margin-left: 50px;
}

.wrapperDashboard{
	margin: 0px 0px;
}

.video{
	margin: 10px 100px;
}

.titleWhite{
	padding: 10px;
}

.titleWhite img{
	height: 80%;
}

.wrapper{	
	width: 100%;
	height: 80%;
	margin: 0px auto;
}

.header{
	height: 20%;
}

.header h1{
	color: #fff;
	font-size: 60px;
}

.row{
	margin: 0px auto;
	padding: 0px;
	max-width: 100%;
}

.columns{
	margin: 0px;
	padding: 0px;
}

.quote {
	margin: 40px 0px 0px 50px;
}

.loginForm{
	margin: 20px 20px;
}

.loginForm h3{
	color: #fff;
}

.headerButton{	
	margin-left: 10px;
}

.headerButton a{
	padding: 5px 20px;
	background-color: rgb(110,189,178);
	color: #fff;
	border-radius:25px;
}

.registerButton{
	margin: 0px 600px;
}

.registerButton a{
	margin-bottom: 20px;
	padding: 10px 30px;
	border-radius:25px;
	background-color: #dcb626;
	color: #fff;
}

.rememberMe{
	margin-left: 18px;
	color: #fff;
	font-size: 20px;
}

.wrapperRegisteration {
    width: 406px;
    max-width: 406px;
    margin: 10px auto;
}

#signup {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}

#signup .header {
    margin-bottom: 20px;
}

#signup .header h3 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#signup .header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

#signup .sep {
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 0px -25px;
}

#signup .inputs {
    margin-top: 25px;
}

#signup .inputs label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

input::-webkit-input-placeholder {
    color:    #b5b5b5;
}

input:-moz-placeholder {
    color:    #b5b5b5;
}

#signup .inputs input[type=email],input[type=text], input[type=password] {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

#signup .inputs input[type=email]:focus, input[type=text]:focus, input[type=password]:focus {
    background: #fff;
    box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;   
}

#signup .inputs .checkboxy {
    display: block;
    position: static;
    height: 25px;
    margin-top: 10px;
    clear: both;
}

#signup .inputs input[type=checkbox] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

#signup .inputs label.terms {
    float: left;
    font-size: 14px;
    font-style: italic;
}

#signup .inputs #submit {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#b9c5dd),
        to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

#signup .inputs #submit:hover {
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a4b0cb),
        to(#b9c5dd));
}




.navigation {
  
  /* Collapsed *
  width: 0; 

  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.page-wrap {
  width: 100%;
  float: right;
}

#main-navigation:target {

}

.navigation {
  transition: width 0.3s ease;
}
#main-nav:target {
  width: 20%; 
}

#main-nav:target + .page-wrap {
  width: 80%;
}*/



