<!--
<ul class="sidebar-nav">
	<li class="sidebar-brand"><h2>Your Classes</h2>
	</li>
		<li><a href="#"> DashBoard </a> </li>
		<li><a href="#"> MAT1348 </a> </li>
		<li><a href="#"> ITI1121 </a></li>
</ul>
-->
